@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
.smartboat {
    background: #EDDEA4;
    min-height: 100vh;

    h1 {
        color: #000;
        text-align: center;
        font-family: 'Galindo';
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 40px;
    }

    .smartboats {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 4vh 0;
        padding: -2vw 0;
        
        img {
            width: 100%;
        }
    }
}