// components/SmartboatComp/SmartboatComp.scss
body {
  background: #EDDEA4;
}

.smartboatcomps {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 4vh 0;
  padding: -2vw 0;

  .carousel-container {
    overflow: hidden;
    width: 100%;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-page {
    flex: 0 0 100%;
  }

  .carousel-image {
    width: 100%;
  }

  .button-box {
    width: 4vw;
  }

  .button-container {
    display: flex;
    position: absolute;
    top: 92%;
    left: 85%;
    * {
      padding: 0;
    }

    button {
      background-color: transparent;
      border: 0;
      img {
        width: 4vw;
      }
    }
  }
}
