// components/Header/Header.scss
.header {
    display: flex;
    // width: 100%;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        justify-content: space-around;
        padding: 2vh 2vw;
        width: 80%;
        align-items: center;
        a {
            padding: 1px;
            color: black;
            text-decoration: none;
            font-size: larger;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

}
  